@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Space+Grotesk:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
  }
  body{
    background-image: url(img-fundo.jpg);
    background-size: cover;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    overflow-y: scroll;
    background-color: #08090C;
    
  }

  main {
    height: 92vh;
  }

  /*Nav bar*/ 
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    height: 8vh;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #23232e;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  } /*nav bar*/

  /*Langin page*/
  .img-container {
    width: 100%;
    height: 120vh;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #08090C;
    background: url('/img/saopaulo.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hero-wrapper {
    margin-top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headertext-wrapper {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
}

.herotext-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

.hero-text {
    color: #EAEAEA;
    font-family: "Inter", sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.redhero-text {
    color: #CE0000;
}

.hero-paragraph {
    color: #EAEAEA;
    text-align: center;
    padding-left: 11%;
    padding-right: 11%;
}

.buttons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    gap: 20%;
}

.aboutus-button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 1;
    border-radius: 500px;
    border: 1px solid transparent;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 2%;
    color: #EAEAEA;
    background-color: #292929;
    height: 48px;
}

.explore-button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 1;
    border-radius: 500px;
    border: 1px solid transparent;
    min-width: 160px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    padding: 5%;
    color: #CE0000;
    background-color: #EAEAEA;
    height: 3rem;
    width: 4rem;
}

.footer-section {
    width: 100%;
    height: 32vh;
    padding: 5%;
    background-color: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer-infos {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
}

.footer-logo {
    background: url('/img/logo.png');
}

.footer-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.footer-text{
    font: "Inter", sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: #EAEAEA;
}

.grayfooter-text {
    font: "Inter", sans-serif;
    font-weight: 400;
    color: #eaeaeaa1;
}